@import '@/styles/_colors.scss';

.styledButton {
  background-color: white;
  border: 1px $darkblue solid;
  color: $darkblue;
  cursor: pointer;
  font-size: 20px;
  padding: 8px;
  &:hover {
    background-color: $darkblue;
    color: white;
  }
}

.infoSidebar {
  padding: 0px 16px;
  width: 300px;
  p {
    margin-bottom: 16px;
  }
}
